<h1>Chain#view</h1>
<%= link_to "Try differnt array?", :chain_input %><br><br>
<% if @res.is_a? String %>
  <p><%= @res %></p>
<% else %>
 <table style="display: inline-block; border: 1px solid; float: left; ">
 	 <thead>
 		<tr>
 		<th>Исходная цепочка</th>	
 	</tr>
 </thead>
    <% @initial.each_with_index do |x|%>
      <tr>
        <th><%= x %></th>
  <% end %>
      </tr>
  </table>
		
		<table style="display: inline-block; border: 1px solid; float: left;">
		<thead>
 		<tr>
 		<th>Все найденные</th>
 	</tr>
 </thead>
    <% @alls.each do |x|%>
      <tr>
        <th><%= x %></th>
  <% end %>
      </tr>
  </table>
  <table style="display: inline-block; border: 1px solid; ">
  	<thead>
 		<tr>
 		<th>Самая длинная</th>
 	</tr>
 </thead>
    <% @res.each_with_index do |x|%>
      <tr>
        <th><%= x %></th>
  <% end %>
      </tr>
  </table>
<% end %>